@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display($type, $alignment, $justify) {
  display: $type;
  align-items: $alignment;
  justify-content: $justify;
}

@mixin position($left, $top, $right, $bottom) {
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

@mixin text-size($color, $fontSize, $letterSpacing, $lineHeight) {
  color: $color;
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
}

@mixin avatar {
  background-color: #000C40;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @include flex-center;
}

@mixin custom-avatar($width, $height) {
  background-color: #000C40;
  width: $width;
  height: $height;
  border-radius: 50%;
  @include flex-center;
}

@mixin column-count($columnCount) {
  -moz-column-count: $columnCount;
  -webkit-column-count: $columnCount;
  column-count: $columnCount;
}

@mixin column-gap($columnGap) {
  -moz-column-gap: $columnGap;
  -webkit-column-gap: $columnGap;
  column-gap: $columnGap;
}

@mixin box-sizing($box-sizing) {
  box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
}

@mixin hide_screen {
  @media (max-width: 767px) {
    display: none;
  }
}

@mixin grid_block_display($screen) {
  @media (max-width: $screen) {
    display: block;
  }
}

@mixin xs-screen {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
  }
}

@mixin block-screen($width, $columnCount) {
  @media only screen and (min-width: $width) {
    -moz-column-count: $columnCount;
    -webkit-column-count: $columnCount;
    column-count: $columnCount;
  }
}