$primary_color: #000C40;
$light_bar: 1px solid #f0f0f0;
$text_color_over_primary_color: #dddde1;
$text_color: #161516;
$header_text_color: #010101;
$light-gray: #5d5454;
$gray-color: rgb(182, 181, 181);

$font-family-sans: "Work Sans", Helvetica, sans-serif;
$font-family-serif: "Crimson Text", serif;

$border_radius: 0.5rem;

$box_shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0,0,0,.05);
$box_shadow_colored: 0 1px 2px 0 rgba($primary_color, .05);
$box_shadow_message: 0 1px 10px #00000057;
$box-shadow-panel: 0 1px 2px 1px #e1e1e1;
$box-shadow-panel-hover: 0 4px 8px rgba(0, 0, 0, 0.2);

$cubic-bezier:  cubic-bezier(.29, 1.01, 1, -0.68);