@use "../../assets/style/main" as *;

.ant-breadcrumb {
  .ant-breadcrumb-separator {
    text-align: center;
    margin-top: 3px;
  }
}

.breadcrumb-icon {
  @include flex-center;
}

.breadcrumb-nav {
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: #000C40;
  }
}
