@import '../assets/style/main';

.container {
  padding: 20px;
  background: #f4f6fd!important;
}

.page-wrapper {
  padding: 30px;
  background: #fff;
  margin-top: 20px;

  &.student__list__datatable {
    padding: 0;
  }

  button {
    @include flex-center
  }

}

.add__btn {
  @include flex-center;
}

//Page Description
.page__header {
  margin: 30px 0;

  .page__title {
    h1 {
      @include text-size(#333, 26px, 0, 33px);
      font-weight: 500;

      .count__title {
        padding-left: 5px;
        @include text-size(#333, 14px, 0, 33px);
      }
    }
  }

  .page__description {
    @include text-size(#666, 14px, 0, 20px)
  }
}

//Student List
.header__area {
  @include display(flex, center, space-between);

  .flex__end {
    @include display(flex, center, flex-end);
  }

  .flex__end > *:not(:last-child) {
    margin-right: 30px;
  }

  .list__icon {
    color: lighten(#000, 50%);
    &.active {
      color: #000;
      border-bottom: 2px solid #6db5f3;
    }
  }

  .search__input {
    transition: .3s;
    @include hide_screen
  }
}

.col__name {
  cursor: pointer;
  transition: 1s;

  &:hover p:first-child {
    font-weight: bold;
    color: $primary_color;
  }

  .render__name {
    @include display(flex, center, flex-start);
    gap: 10px;
  }

  .st__ref {
    font-size: 11px;
    text-align: left;
    color: #A9A9A9FF;
  }
}

.card__list {
  transition: .3s ease-in-out;

  &:hover {
    box-shadow: $box_shadow_message;
  }

  .card__desc {
    .desc {
      font-size: 14px;
      color: $text_color;
    }
  }
}


.empty__page__wrapper {
  .empty__page__box{
    @include flex-center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    margin-top: 80px;
  }

  button {
    @include flex-center
  }
}

//Inscription page
.inscription-wrapper {
  .step-wrapper {
    margin-bottom: 20px;
  }

  .guardian__address__check {
    margin-bottom: 30px;
    text-align: center;
  }

  .dynamic_delete_button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: darken(#999, 70%);
    }
  }

  .drag-n-drop-icon {
    font-size: 80px;
    font-weight: bold;
    color: #000C40;
  }

  .linked_button {
    margin-bottom: 20px;
  }
}

//View Page
.view__block {
  @include xs-screen;
  margin-bottom: 30px;

  .block {
    p:first-child {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      color: #333333;
    }
    p:last-child {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #666666;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .avatar-container {
    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      color: #333333;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .mention {
      font-size: 14px;
      line-height: 20px;
      color: #666666;
    }
  }
}

.tabs {
  &.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
  }
}

.profile-card {
  border-radius: unset!important;

  .ant-card-body {
    padding: 0 0;
  }
  .ant-card-head {
    background-color: #f9f9f9;
    border-radius: 0;
  }
  .ant-divider-horizontal {
    margin: 0;
  }

  .birth-Body {
    padding: 12px;
    text-align: center;
    color: #717171;
  }

  .btn-toggle {
    color: $primary_color;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;

    &:hover {
      color: lighten($primary_color, 60%);
    }
  }

  .score-table {
    .ant-table, .ant-table-container, .ant-table-cell {
      border-start-start-radius: unset!important;
      border-start-end-radius: unset!important;
    }
    .ant-table-thead .ant-table-cell{
      background-color: $primary_color!important;
      color: $text-color_over_primary_color!important;
    }
  }

  .classmate-team {
    position: relative;
    padding: 12px;
    background: #fff;
    width: 100%;
    border-top: 1px solid #ececec;

    .scroll-box {
      margin-bottom: 0;
      overflow-x: auto;
      white-space: nowrap;
      padding: 2px 0;
      min-width: 120px;
      width: 23.8%;
      vertical-align: top;

      a {
        min-width: 100px;
        display: block;
        margin: 0 2px;
      }

      .avatar {
        margin-bottom: 6px;
        @include flex-center;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0 2px;
        text-align: center;
        color: $text_color;
      }

      .view__button {
        padding: 5px 5px 0;
      }
    }
  }

  .health {
    @include flex-center;
    gap: 5px;

    .health-icon {
      color: #008000;

      &.decrease {
        color: #FF0000;
      }
    }
  }
}
