@import '../assets/style/main';

.container {
  padding: 20px;
}

//Inscription page

.inscription-wrapper{
  padding: 30px;
  background: #fff;
  margin-top: 20px;

  .step-wrapper {
    margin-bottom: 20px;
  }

  .form-wrapper {
    margin-top: 20px;
  }
}