@import "../../assets/style/main";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: $box_shadow_colored;
  @media (max-width: 767px) {
    padding: 0 10px
  }

  .hamburger {
    display: none;
    @media (max-width: 767px) {
      display: inherit;
    }
  }

  .welcome-message {
    font-family: inherit;
  }

  .header-icon {
    background: lighten($primary_color, 83%);
    padding: 6px;
    border-radius: 4px;
    color: $primary_color;
    cursor: pointer;
  }

  .avatar {
    cursor: pointer;
  }
}

.avatar-dropdown {
  width: 250px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px 5px rgba(0, 12, 64, 0.05);
  @include flex-center;
  flex-direction: column;

  .avatar-dropdown--title {
    text-align: center;

    .avatar-image {
      background-color: #000C40;
      color: $text_color_over_primary_color;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include flex-center;
      margin: 0 auto 15px;
    }

    .avatar-profile {
      p:first-child {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
      }

      p:nth-child(2) {
        font-size: 14px;
        color: $light-gray;
        margin-bottom: 10px;
      }

      .account-dropdown {
        .alert {
          font-size: 16px;
          color: lighten($primary_color, 40%);

          &:hover {
            color: lighten($primary_color, 60%);
          }
        }
      }
    }
  }

  .avatar-btn--logout {
    margin-bottom: 10px;

    button {
      @include flex-center;
    }
  }
}
