@import "../../assets/style/main";

.logo {
  @include flex-center;
  color: $primary_color;
  padding: 8px 3px;
  font-size: 1.5rem;
  font-weight: 800;
  border-right: $light_bar;
  border-bottom: $light_bar;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  .ant-menu-item {
    @include display(flex, center, start);
  }

  &.show {
    .ant-menu-item {

    }
  }

  .ant-menu-item-selected {
    background-color: $primary_color;
    color: $text_color_over_primary_color;
  }
}

