.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000c40;
  padding: 8px 3px;
  font-size: 1.5rem;
  font-weight: 800;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  .ant-menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &.show {
    .ant-menu-item {

    }
  }

  .ant-menu-item-selected {
    background-color: #000c40!important;
    color: #fff;
  }
}
