@import "assets/style/main";

.welcome-message {
  @media (max-width: 767px) {
    display: none;
  }
}

.search-input {
  @media (max-width: 767px) {
    display: none;
  }
}

.content {
  margin: 24px 16px;
  padding: 20px;
}

.trigger-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  color: #b4b1b1;
}