@use "assets/style/main" as *;

.content {
  margin: 24px 16px;
  padding: 20px;
}

.trigger-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  color: #b4b1b1;
}

.ant-input:focus,
.ant-btn:focus,
.ant-select-focused .ant-select-selector,
.ant-picker-focused,
.ant-picker-input:focus,
.ant-picker-dropdown:focus {
  outline: none!important;
  box-shadow: none!important;
}