@import "assets/style/variables";

.sidebar {
  height: 100vh;
  position: sticky!important;
  left: 0; bottom: 0; top: 0;
  box-shadow: $box_shadow;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: $box_shadow_colored;
  @media (max-width: 767px) {
    display: flex;
    align-items: end;
    justify-items: center;
    justify-content: flex-end;
  }
}

.welcome-message {
  @media (max-width: 767px) {
    display: none;
  }
}

.search-input {
  @media (max-width: 767px) {
    display: none;
  }
}

.content {
  margin: 24px 16px;
  padding: 20px;
}

.trigger-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  color: #b4b1b1;
}