@use "assets/style/variables" as *;
@use "sass:color";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-sans;
  font-optical-sizing: auto;
  font-weight: 500;
  outline: none!important;
}

button,input {
  outline: none!important;
}

body {
  background-color: #f7f6ff;

  .ant-btn:hover {
    color: $primary_color!important;
    border-color: $primary_color!important;
  }

  .ant-btn-primary {
    background-color: $primary_color!important;
  }

  .ant-btn-primary:hover {
    background-color: color.adjust($primary_color, $lightness: 20%)!important;
    color: $text_color_over_primary_color!important;
  }

  .primary--color {
    color: $primary_color!important;
  }

  .primary--light--color {
    color: $primary_color!important;
  }

  .gray--color {
    color: $gray_color!important;
  }

  button, input, select, textarea {
    outline: none!important;
  }
}