@import "../../assets/style/main";

/*** Block UI ***/

.block-wrapper {
  width: 100%;
  margin: .3em auto;
  overflow-x: hidden;

  .block-mansory {
    padding: 0;
    @include column-gap(1em);

    .block-item {
      display: inline-block;
      padding: 0;
      margin: 0 0 1em;
      width: 100%;
      @include box-sizing(border-box);
      -moz-transition: box-shadow 0.3s ease, transform 0.3s ease;
      -webkit-transition: box-shadow 0.3s ease, transform 0.3s ease;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      box-shadow: $box-shadow-panel;

      &:hover {
        box-shadow: $box_shadow_colored;
      }
    }

    @include block-screen(400px,2);
    @include block-screen(700px, 2);
    @include block-screen(900px, 3);
    @include block-screen(1100px, 3);
    @include block-screen(1280px, 3);
  }
}

/*** Panel UI ***/

.panel {
  @include display(flex, center, space-around);
  gap: 10px;
  padding: 12px;

  .panel-head {
    @include flex-center;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    .stat {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      text-align: center;

      .big-row {
        font-size: 20px;
        color: $text-color;
      }

      .small-row {
        font-size: 13px;
        color: #717171;
      }

      .round-row {
        border-radius: 50%;
        overflow: hidden;
        color: #fff;
        width: 35px; height: 35px;
        text-transform: uppercase;
        font-weight: 700;
        @include flex-center;
        font-size: 13px;
        border: 2px solid #e1e1e1;

        span {
          transform: translate(-2%, 18%);
        }

        span, img {
          width: 46px;
          height: 35px;
          color: $text_color;
        }
      }
    }
  }
}

.panel-table {
  position: relative;
  background-color: #fff;

  .table-head {
    background-color: $primary_color;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0;
    color: $text_color_over_primary_color;
  }

  .table-body {
    padding-top: 4px;

    .table-row {
      padding: 8px 10px;
      @include display(flex, center, space-between);
      font-size: 14px;
      border-bottom: 1px solid #ececec;

      &:last-child {
        border-bottom: none;
      }

      & > p:nth-child(odd) {
        color: #717171;
        max-width: 50%;
      }

      & > p:nth-child(even) {
        color: $text_color;
        max-width: 50%;
        text-align: right;
      }

      p.linked {
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: $primary_color;
        }
      }
    }
  }
}

.void__wrapper {
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  color: rgba(0,0,0,.25);

  .empty {
    padding: 8px 8px;
    transition: background .2s, border-color .2s;
    position: relative;
    overflow-wrap: break-word;
    margin-block: 32px;
    margin-inline: 8px;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;

    .empty__image {
      height: 48px;
      margin-bottom: 8px;
      opacity: 1;
    }

    .empty__desc {
      color: rgba(0,0,0,.45);
    }
  }
}
